#!/usr/bin/env bash

# Benchmark info
echo "TIMING - Starting main script at: $(date)"

# Set working directory to home directory
cd "${HOME}"

#
# Start Jupyter Notebook Server
#

<%- unless context.modules.blank? -%>
# Purge the module environment to avoid conflicts
module purge

# This points to the OOD specific modules where custom modules that handle things like the julia kernel live
module use ++ REDACTED ++ 

# Load the require modules
module load <%= context.modules %> #julia/1.3.0 ood/julia_1.3.0_ood_env now done in form.yml

# List loaded modules
module list
<%- end -%>
#iruby register --force   Needed to do this at somepoint, dont remember when
# Benchmark info
echo "TIMING - Starting jupyter at: $(date)"

# Launch the Jupyter Notebook Server
set -x

# Logic behind when to load an anaconda environment and if so, from what anaconda module/install
<%- if context.conda_install_checkbox == "1" -%>
export PATH=<%= context.conda_install %>:${PATH}
<%- else -%>
module add <%= context.conda_module %>
<%- end -%>
<%- if context.conda_env_checkbox == "1" -%>
source activate <%= context.conda_env %>
<%- end -%>
jupyter notebook --debug --config="${CONFIG_FILE}" <%= context.extra_jupyter_args %>
