# Job submission configuration file
#
---

batch_connect:
  template: "basic"

  set_host: "host=$(hostname -A | awk '{print $1}')"
script:
  # we do not give users much choice here...after all, any real work should be done in a batch job
  native:
     - "-n"
     - "2"
     - "-M 64GB"
     - '-gpu "num=1"' 
     - "-q normal"
     - "-W <%= time %>:00"
